@model SoftSchool.Models.Logiciels

@{
    ViewBag.Title = Model.Nom;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>@Model.Nom</legend>
    <br />
    <img src="@Url.Content(@"~\" + Model.Image)"  width="100" height="100" />
    
    

    <div class="display-field">
    @{
        HtmlString str = new HtmlString(Model.Descreption.Replace("\n", "<br />"));
     }
        @str
    </div>
    <div class="display-field">
       <h5> Prix: @Html.DisplayFor(model => model.Prix)</h5>
    </div>
</fieldset>

