@model IEnumerable<SoftSchool.Models.Logiciels>

@{
    ViewBag.Title = "Soft School";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="album-list">
@foreach (var item in Model) {
  <li>
  <table><tr><td valign="top">
  <a href="/Index/DetailLog/@item.LogicielID">
  <img src="@Url.Content(@"~\" + item.Image)"  width="100" height="100" />
  </a>
  </td>
  <td  valign="top">
  <a href="/Index/DetailLog/@item.LogicielID">
           <h2> @Html.DisplayFor(modelItem => item.Nom)</h2>
            </a>
            <br />
            <div>
           @{
    string description = item.Descreption;
    if (description.Length > 100)
    {
        description = description.Substring(0, 100);
        description = description + "..."; 
    }
    description = description + "<br /><a href=\"/Index/DetailLog/"+item.LogicielID+"\">Afficher la suite</a>";
    HtmlString str = new HtmlString(description.Replace("\n", "<br />"));
       
        }
        @str
        <br />
    <br />
    <br />
    <br />
        </div>
  </td>
  <td width="80"></td>
  </tr></table>
  
  
   </li>
    
}
</ul>