
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Office Memo  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120401

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>المندوبية الجهويّة للتربية بتونس 1</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Coda:400,800" rel="stylesheet" type="text/css" />
<link href="/Content/officememo/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
        <li><a href="/Admin/Dres">Direction</a></li>
			<li><a href="/Admin/Lycees">Lyc&#233;e</a></li>
			
            
		</ul>
	</div>
	<!-- end #menu -->
</div>

<div id="wrapper">
	<!-- end #header -->
	<div id="page">
	 

<h1>المندوبية الجهويّة للتربية بتونس 1</h1>

<p>
    <a href="/Admin/Lycees/Create/1">Ajouter Lyc&#233;s</a>
</p>
<table>
    <tr>
        <th>
            Code
        </th>
        <th>
            Nom
        </th>
        <th>
            Ville
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            110101
        </td>
        <td>
            المدرسة الصادقية تونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/1">Edit</a> |
            <a href="/Admin/Lycees/Details/1">Details</a> |
            <a href="/Admin/Lycees/Delete/1">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110102
        </td>
        <td>
            معهد شارع 9 أفريل 1938 بتونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/2">Edit</a> |
            <a href="/Admin/Lycees/Details/2">Details</a> |
            <a href="/Admin/Lycees/Delete/2">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110103
        </td>
        <td>
            معهد نهج الباشا تونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/3">Edit</a> |
            <a href="/Admin/Lycees/Details/3">Details</a> |
            <a href="/Admin/Lycees/Delete/3">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110105
        </td>
        <td>
             م.إ. نهج فبريكات الثلج تونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/4">Edit</a> |
            <a href="/Admin/Lycees/Details/4">Details</a> |
            <a href="/Admin/Lycees/Delete/4">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110106
        </td>
        <td>
            م.إ. ابن رشد تونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/5">Edit</a> |
            <a href="/Admin/Lycees/Details/5">Details</a> |
            <a href="/Admin/Lycees/Delete/5">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110107
        </td>
        <td>
            م.إ. التقنية نهج فبريكات الثلج تونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/6">Edit</a> |
            <a href="/Admin/Lycees/Details/6">Details</a> |
            <a href="/Admin/Lycees/Delete/6">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110148
        </td>
        <td>
            م.إ. بالحفصية تونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/7">Edit</a> |
            <a href="/Admin/Lycees/Details/7">Details</a> |
            <a href="/Admin/Lycees/Delete/7">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110149
        </td>
        <td>
            م.إ. بالسرّاجين تونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/8">Edit</a> |
            <a href="/Admin/Lycees/Details/8">Details</a> |
            <a href="/Admin/Lycees/Delete/8">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110150
        </td>
        <td>
            م.إ. ساحة معقل الزعيم بتونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/9">Edit</a> |
            <a href="/Admin/Lycees/Details/9">Details</a> |
            <a href="/Admin/Lycees/Delete/9">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110151
        </td>
        <td>
            م.إ. التقنية زنقة سيدي عبدالرؤوف نهج المر تونس
        </td>
        <td>
            تونس المدينة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/10">Edit</a> |
            <a href="/Admin/Lycees/Details/10">Details</a> |
            <a href="/Admin/Lycees/Delete/10">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110309
        </td>
        <td>
            م.إ. نهج عبد الرزاق الشرايبي تونس
        </td>
        <td>
            تونس باب بحر
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/11">Edit</a> |
            <a href="/Admin/Lycees/Details/11">Details</a> |
            <a href="/Admin/Lycees/Delete/11">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110311
        </td>
        <td>
            معهد نهج روسيا بتونس
        </td>
        <td>
            تونس باب بحر
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/12">Edit</a> |
            <a href="/Admin/Lycees/Details/12">Details</a> |
            <a href="/Admin/Lycees/Delete/12">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110312
        </td>
        <td>
            م.إ. نهج المغرب تونس
        </td>
        <td>
            تونس باب بحر
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/13">Edit</a> |
            <a href="/Admin/Lycees/Details/13">Details</a> |
            <a href="/Admin/Lycees/Delete/13">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110310
        </td>
        <td>
            معهد عائشة بلاغة بنهج مرسيليا تونس
        </td>
        <td>
            تونس باب بحر
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/14">Edit</a> |
            <a href="/Admin/Lycees/Details/14">Details</a> |
            <a href="/Admin/Lycees/Delete/14">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110314
        </td>
        <td>
            م.إ. نهج المحطة تونس
        </td>
        <td>
            تونس باب بحر
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/15">Edit</a> |
            <a href="/Admin/Lycees/Details/15">Details</a> |
            <a href="/Admin/Lycees/Delete/15">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110346
        </td>
        <td>
            م.إ. نهج لينين تونس
        </td>
        <td>
            تونس باب بحر
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/16">Edit</a> |
            <a href="/Admin/Lycees/Details/16">Details</a> |
            <a href="/Admin/Lycees/Delete/16">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110350
        </td>
        <td>
            معهد بورقيبة النموذجي تونس
        </td>
        <td>
            تونس باب بحر
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/17">Edit</a> |
            <a href="/Admin/Lycees/Details/17">Details</a> |
            <a href="/Admin/Lycees/Delete/17">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110351
        </td>
        <td>
            م.إ. نهج الهادي شاكر تونس
        </td>
        <td>
            تونس باب بحر
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/18">Edit</a> |
            <a href="/Admin/Lycees/Details/18">Details</a> |
            <a href="/Admin/Lycees/Delete/18">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110402
        </td>
        <td>
            م.إ. بحي الخضراء تونس
        </td>
        <td>
            حي الخضراء
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/19">Edit</a> |
            <a href="/Admin/Lycees/Details/19">Details</a> |
            <a href="/Admin/Lycees/Delete/19">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110401
        </td>
        <td>
            المعهد الرياضي بيار دي كوبرتان بالمنزه
        </td>
        <td>
            حي الخضراء
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/20">Edit</a> |
            <a href="/Admin/Lycees/Details/20">Details</a> |
            <a href="/Admin/Lycees/Delete/20">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110403
        </td>
        <td>
            م.إ. نهج لوي براي حي الخضراء تونس
        </td>
        <td>
            حي الخضراء
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/21">Edit</a> |
            <a href="/Admin/Lycees/Details/21">Details</a> |
            <a href="/Admin/Lycees/Delete/21">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110404
        </td>
        <td>
            معهد نهج 36 حي الخضراء
        </td>
        <td>
            حي الخضراء
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/26">Edit</a> |
            <a href="/Admin/Lycees/Details/26">Details</a> |
            <a href="/Admin/Lycees/Delete/26">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            1212
        </td>
        <td>
            12121212
        </td>
        <td>
            حي الخضراء
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/1460">Edit</a> |
            <a href="/Admin/Lycees/Details/1460">Details</a> |
            <a href="/Admin/Lycees/Delete/1460">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110510
        </td>
        <td>
            م.إ. شارع البشير صفر تونس
        </td>
        <td>
            باب سويقة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/22">Edit</a> |
            <a href="/Admin/Lycees/Details/22">Details</a> |
            <a href="/Admin/Lycees/Delete/22">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110513
        </td>
        <td>
            معهد باب الخضراء تونس
        </td>
        <td>
            باب سويقة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/23">Edit</a> |
            <a href="/Admin/Lycees/Details/23">Details</a> |
            <a href="/Admin/Lycees/Delete/23">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110514
        </td>
        <td>
            م.إ. التقنية بباب الخضراء تونس
        </td>
        <td>
            باب سويقة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/24">Edit</a> |
            <a href="/Admin/Lycees/Details/24">Details</a> |
            <a href="/Admin/Lycees/Delete/24">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110515
        </td>
        <td>
            م.إ. نهج مجاز الباب تونس
        </td>
        <td>
            باب سويقة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/25">Edit</a> |
            <a href="/Admin/Lycees/Details/25">Details</a> |
            <a href="/Admin/Lycees/Delete/25">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110601
        </td>
        <td>
            م.إ. شارع 15أكتوبر1961بالكبارية
        </td>
        <td>
            الكبارية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/27">Edit</a> |
            <a href="/Admin/Lycees/Details/27">Details</a> |
            <a href="/Admin/Lycees/Delete/27">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110602
        </td>
        <td>
            م.إ. ابن سيـنا1 بالكبارية
        </td>
        <td>
            الكبارية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/28">Edit</a> |
            <a href="/Admin/Lycees/Details/28">Details</a> |
            <a href="/Admin/Lycees/Delete/28">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110603
        </td>
        <td>
            م.إ. حي السلامة بالكبارية2
        </td>
        <td>
            الكبارية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/29">Edit</a> |
            <a href="/Admin/Lycees/Details/29">Details</a> |
            <a href="/Admin/Lycees/Delete/29">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110604
        </td>
        <td>
            م.إ. التقنية بالكبارية
        </td>
        <td>
            الكبارية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/30">Edit</a> |
            <a href="/Admin/Lycees/Details/30">Details</a> |
            <a href="/Admin/Lycees/Delete/30">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110605
        </td>
        <td>
            معهد العهد الجديد بالكبارية
        </td>
        <td>
            الكبارية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/31">Edit</a> |
            <a href="/Admin/Lycees/Details/31">Details</a> |
            <a href="/Admin/Lycees/Delete/31">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110606
        </td>
        <td>
            م.إ. بالمروج2
        </td>
        <td>
            الكبارية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/32">Edit</a> |
            <a href="/Admin/Lycees/Details/32">Details</a> |
            <a href="/Admin/Lycees/Delete/32">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110607
        </td>
        <td>
            م.إ. ابن سينا2 الكبارية
        </td>
        <td>
            الكبارية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/33">Edit</a> |
            <a href="/Admin/Lycees/Details/33">Details</a> |
            <a href="/Admin/Lycees/Delete/33">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110608
        </td>
        <td>
            معهد حي بن سينا الكباريّة
        </td>
        <td>
            الكبارية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/34">Edit</a> |
            <a href="/Admin/Lycees/Details/34">Details</a> |
            <a href="/Admin/Lycees/Delete/34">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110609
        </td>
        <td>
            معهد الكبارية
        </td>
        <td>
            الكبارية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/37">Edit</a> |
            <a href="/Admin/Lycees/Details/37">Details</a> |
            <a href="/Admin/Lycees/Delete/37">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110728
        </td>
        <td>
            معهد العلوي بتونس
        </td>
        <td>
            تونس سيدي البشير
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/35">Edit</a> |
            <a href="/Admin/Lycees/Details/35">Details</a> |
            <a href="/Admin/Lycees/Delete/35">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110730
        </td>
        <td>
            م.إ. شارع باب الجديد تونس
        </td>
        <td>
            تونس سيدي البشير
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/36">Edit</a> |
            <a href="/Admin/Lycees/Details/36">Details</a> |
            <a href="/Admin/Lycees/Delete/36">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110729
        </td>
        <td>
            معهد منفلوري تونس
        </td>
        <td>
            تونس سيدي البشير
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/38">Edit</a> |
            <a href="/Admin/Lycees/Details/38">Details</a> |
            <a href="/Admin/Lycees/Delete/38">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110731
        </td>
        <td>
            م.إ. النموذجية شارع علي طراد تونس
        </td>
        <td>
            تونس سيدي البشير
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/44">Edit</a> |
            <a href="/Admin/Lycees/Details/44">Details</a> |
            <a href="/Admin/Lycees/Delete/44">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110801
        </td>
        <td>
            م.إ. بالـورديـة
        </td>
        <td>
            الوردية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/39">Edit</a> |
            <a href="/Admin/Lycees/Details/39">Details</a> |
            <a href="/Admin/Lycees/Delete/39">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110802
        </td>
        <td>
            معهد 34/03/02 الوردية
        </td>
        <td>
            الوردية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/40">Edit</a> |
            <a href="/Admin/Lycees/Details/40">Details</a> |
            <a href="/Admin/Lycees/Delete/40">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110803
        </td>
        <td>
            م.إ. التقنية بالورديـة
        </td>
        <td>
            الوردية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/41">Edit</a> |
            <a href="/Admin/Lycees/Details/41">Details</a> |
            <a href="/Admin/Lycees/Delete/41">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110804
        </td>
        <td>
            م.إ. نهج السوسن الأحمر الوردية
        </td>
        <td>
            الوردية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/42">Edit</a> |
            <a href="/Admin/Lycees/Details/42">Details</a> |
            <a href="/Admin/Lycees/Delete/42">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110805
        </td>
        <td>
            م.إ. التقنية نهج لافيان بالورديـة
        </td>
        <td>
            الوردية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/43">Edit</a> |
            <a href="/Admin/Lycees/Details/43">Details</a> |
            <a href="/Admin/Lycees/Delete/43">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            110806
        </td>
        <td>
            معهد نهج صيادة بالورديّة
        </td>
        <td>
            الوردية
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/45">Edit</a> |
            <a href="/Admin/Lycees/Details/45">Details</a> |
            <a href="/Admin/Lycees/Delete/45">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111342
        </td>
        <td>
            معهد 34/03/02 حلق الوادي
        </td>
        <td>
            حلق الواد
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/70">Edit</a> |
            <a href="/Admin/Lycees/Details/70">Details</a> |
            <a href="/Admin/Lycees/Delete/70">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111345
        </td>
        <td>
            م.إ. التقنية نهج بربروس حلق الوادي
        </td>
        <td>
            حلق الواد
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/71">Edit</a> |
            <a href="/Admin/Lycees/Details/71">Details</a> |
            <a href="/Admin/Lycees/Delete/71">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111346
        </td>
        <td>
            م.إ. الفارابي بحلق الوادي
        </td>
        <td>
            حلق الواد
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/72">Edit</a> |
            <a href="/Admin/Lycees/Details/72">Details</a> |
            <a href="/Admin/Lycees/Delete/72">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111347
        </td>
        <td>
            م.إ. التقنية نهج المقاومة بحلق الوادي
        </td>
        <td>
            حلق الواد
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/74">Edit</a> |
            <a href="/Admin/Lycees/Details/74">Details</a> |
            <a href="/Admin/Lycees/Delete/74">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111353
        </td>
        <td>
            م.إ. نهج الجاحظ الكرم
        </td>
        <td>
            حلق الواد
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/75">Edit</a> |
            <a href="/Admin/Lycees/Details/75">Details</a> |
            <a href="/Admin/Lycees/Delete/75">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111354
        </td>
        <td>
            م.إ. أسد ابن الفرات الكرم الغربي
        </td>
        <td>
            حلق الواد
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/76">Edit</a> |
            <a href="/Admin/Lycees/Details/76">Details</a> |
            <a href="/Admin/Lycees/Delete/76">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111349
        </td>
        <td>
            م.إ. النموذجية بضفاف البحيرة
        </td>
        <td>
            حلق الواد
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/959">Edit</a> |
            <a href="/Admin/Lycees/Details/959">Details</a> |
            <a href="/Admin/Lycees/Delete/959">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111432
        </td>
        <td>
            م.إ. 2 مارس 1934 جبل الجلود
        </td>
        <td>
            جبل الجلود
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/79">Edit</a> |
            <a href="/Admin/Lycees/Details/79">Details</a> |
            <a href="/Admin/Lycees/Delete/79">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111433
        </td>
        <td>
            م.إ. نهج سـكـيـكـدة بجبل الجلـود
        </td>
        <td>
            جبل الجلود
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/80">Edit</a> |
            <a href="/Admin/Lycees/Details/80">Details</a> |
            <a href="/Admin/Lycees/Delete/80">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111434
        </td>
        <td>
            معهد جبـل الجـلـود
        </td>
        <td>
            جبل الجلود
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/81">Edit</a> |
            <a href="/Admin/Lycees/Details/81">Details</a> |
            <a href="/Admin/Lycees/Delete/81">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111620
        </td>
        <td>
            معهد مرسى الرياض
        </td>
        <td>
            المرسى
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/56">Edit</a> |
            <a href="/Admin/Lycees/Details/56">Details</a> |
            <a href="/Admin/Lycees/Delete/56">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111607
        </td>
        <td>
            م.إ. بالمرسى
        </td>
        <td>
            المرسى
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/84">Edit</a> |
            <a href="/Admin/Lycees/Details/84">Details</a> |
            <a href="/Admin/Lycees/Delete/84">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111608
        </td>
        <td>
            م.إ. الطيب المهيري بالمرسى
        </td>
        <td>
            المرسى
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/85">Edit</a> |
            <a href="/Admin/Lycees/Details/85">Details</a> |
            <a href="/Admin/Lycees/Delete/85">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111609
        </td>
        <td>
            م.إ. بسيدي داود
        </td>
        <td>
            المرسى
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/86">Edit</a> |
            <a href="/Admin/Lycees/Details/86">Details</a> |
            <a href="/Admin/Lycees/Delete/86">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111645
        </td>
        <td>
            م.إ. الفاضل بن عاشور المرسى
        </td>
        <td>
            المرسى
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/87">Edit</a> |
            <a href="/Admin/Lycees/Details/87">Details</a> |
            <a href="/Admin/Lycees/Delete/87">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111621
        </td>
        <td>
            م.إ. حي الرياض بالمرسى
        </td>
        <td>
            المرسى
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/88">Edit</a> |
            <a href="/Admin/Lycees/Details/88">Details</a> |
            <a href="/Admin/Lycees/Delete/88">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111610
        </td>
        <td>
            معهد ابن أبي الضياف بمرسى السعادة
        </td>
        <td>
            المرسى
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/90">Edit</a> |
            <a href="/Admin/Lycees/Details/90">Details</a> |
            <a href="/Admin/Lycees/Delete/90">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111611
        </td>
        <td>
            معهد علي الدوعاجي بمرسى السعادة
        </td>
        <td>
            المرسى
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/91">Edit</a> |
            <a href="/Admin/Lycees/Details/91">Details</a> |
            <a href="/Admin/Lycees/Delete/91">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111905
        </td>
        <td>
            معهد قرطاج درمش
        </td>
        <td>
            قرطاج
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/73">Edit</a> |
            <a href="/Admin/Lycees/Details/73">Details</a> |
            <a href="/Admin/Lycees/Delete/73">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111901
        </td>
        <td>
            معهد قرطاج حنبعل
        </td>
        <td>
            قرطاج
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/102">Edit</a> |
            <a href="/Admin/Lycees/Details/102">Details</a> |
            <a href="/Admin/Lycees/Delete/102">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111902
        </td>
        <td>
            معهد قرطاج الرئاسة
        </td>
        <td>
            قرطاج
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/103">Edit</a> |
            <a href="/Admin/Lycees/Details/103">Details</a> |
            <a href="/Admin/Lycees/Delete/103">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111903
        </td>
        <td>
            م.إ. بقرطاج درمش
        </td>
        <td>
            قرطاج
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/104">Edit</a> |
            <a href="/Admin/Lycees/Details/104">Details</a> |
            <a href="/Admin/Lycees/Delete/104">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111904
        </td>
        <td>
            معهد قرطاج بيرصـة
        </td>
        <td>
            قرطاج
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/108">Edit</a> |
            <a href="/Admin/Lycees/Details/108">Details</a> |
            <a href="/Admin/Lycees/Delete/108">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            111348
        </td>
        <td>
            معهد العوينة
        </td>
        <td>
            البحيرة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/77">Edit</a> |
            <a href="/Admin/Lycees/Details/77">Details</a> |
            <a href="/Admin/Lycees/Delete/77">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            112201
        </td>
        <td>
            م.إ. بالعوينة
        </td>
        <td>
            البحيرة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/122">Edit</a> |
            <a href="/Admin/Lycees/Details/122">Details</a> |
            <a href="/Admin/Lycees/Delete/122">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            112202
        </td>
        <td>
            معهد الكرم
        </td>
        <td>
            البحيرة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/123">Edit</a> |
            <a href="/Admin/Lycees/Details/123">Details</a> |
            <a href="/Admin/Lycees/Delete/123">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            112203
        </td>
        <td>
            م.إ. بسيدي عمر الكرم الغربي
        </td>
        <td>
            البحيرة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/124">Edit</a> |
            <a href="/Admin/Lycees/Details/124">Details</a> |
            <a href="/Admin/Lycees/Delete/124">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            112204
        </td>
        <td>
            م.إ. العوينة 2
        </td>
        <td>
            البحيرة
        </td>
        <td>
            <a href="/Admin/Lycees/Edit/126">Edit</a> |
            <a href="/Admin/Lycees/Details/126">Details</a> |
            <a href="/Admin/Lycees/Delete/126">Delete</a>
        </td>
    </tr>

</table>

    </div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; 2012 softschool-z.com.  | Design by <a href="http://http://www.softschool-z.com/">softschool/</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
